*{
  margin: 0;
  padding: 0;
}
body{
  margin-top: 5vmin;
  background-color: rgb(228, 223, 217);
}
#root{
  border-radius: 8px;
  width: 39vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4vmin 0vmin;
  background-color: rgb(222, 235, 231);
  box-shadow: 0 0 11px rgba(33,33,33,.5); 
}
#root h1{
  margin-bottom: 1vmin;
  font-size: 38px;
}
#root select{
  font-size: 20px;
  border: 2px solid rgb(0, 38, 255);
  width: 4rem;
  border-radius: 5px;
}
input{
  border: none;
  font-size: 20px;
  padding: 4px 20px;
  margin: 3px 0px;
  border-radius: 6px;
}
.api{
  margin-top: 10px;
}
.res h2{
  font-size: 25px;
}
.res h4{
  font-size: 19px;
  margin-bottom: 5px;
}
img{
  padding: 12px 0px;
  height: 10rem;
  width: 10rem;
}
.op1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.op2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn{
  font-size: 19px;
  margin-top: 12px;
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
  background-color: brown;
  color: whitesmoke;
  cursor: pointer;
  outline: none;
}
.btn:hover{
  background-color: rgb(194, 64, 64);
}